[package]
name = "tailsrv"
version = "0.5.0"
description = "A high-performance file-streaming server"
readme = "README.md"
repository = "https://github.com/asayers/tailsrv"
license = "Unlicense"
authors = ["Alex Sayers <alex.sayers@gmail.com>"]
edition = "2021"

[dependencies]
clap = { version = "3.2.15", features = ["derive"] }
inotify = { version = "0.10.0", default-features = false }
nix = "0.25.0"
once_cell = "1.14.0"
tracing = "0.1.35"
tracing-subscriber = "0.3.6"

[dependencies.tracing-journald]
version = "0.3"
optional = true

[dependencies.sd-notify]
version = "0.4"
optional = true
